@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
}

p, ul, h1, h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.root {
    min-height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 70px;
}

.title-block, .title-opacity-block, .title-text-block {
    height: 40vh;
}

.title-block {
    background-image: url("../images/faq-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-opacity-block {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.30));
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title-text-block {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    display: table;
    width: 100%;
    max-width: 1200px;
}

.title-text-block p {
    vertical-align: middle;
    display: table-cell;
    font-weight: 100;
    color: #ffffff;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.5;
}

.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

footer {
    height: 70px;
    width: 100%;
    padding: 0 40px;
    background-color: #171717;
    box-sizing: border-box;
    display: table;
    margin-top: -70px;
}

footer p {
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
}

.conditions-list {
    list-style: none;
}

.conditions-list li {
    background: url('../images/conditions-tick.png') left center no-repeat; 
    margin-bottom: 15px;
    line-height: 1.4em;
    padding: 10px 0 10px 40px;
}

@media (max-width: 1250px) {
    .main-content {
        padding: 50px 20px;
    }

    footer {
        padding: 0 20px;
    }
}

@media (max-width: 600px) {
    .conditions-list li {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .title-text-block p {        
        font-size: 30px;
    }
}